<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>@Resources.Email</strong>
    <ul>
        <li>@Resources.FirstName</li>
        <li>@Resources.FirstNameLong</li>
    </ul>
    </div>
